html, body {
	height: 100%;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	font-weight: 300;
	color: #444;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* SCENERY */

#scenery_intro {
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top,  #0e6379 0%, #90b7d2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #0e6379 0%,#90b7d2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #0e6379 0%,#90b7d2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e6379', endColorstr='#90b7d2',GradientType=0 ); /* IE6-9 */
	height: 100%;
	min-height: 600px;
	position: relative;
	overflow:hidden;
}

/* SVG Images */

#scenery_intro .circle_gradient {
	position: absolute;
	width:70%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%);
	-webkit-transform: translate(-50%, -60%);
	z-index: 0;
}

#scenery_intro .clock_tower {
	position: absolute;
	width: 20%;
	left: -20px;
	bottom: 14%;
	z-index: 1;
}

#scenery_intro .moon {
	position: absolute;
	width: 70px;
	top: 10%;
	right: 15%;
	z-index: 2;
}

#scenery_intro .buildings {
	position: absolute;
	width: 40%;
	bottom: -6%;
	left: 48%;
	transform: translate(-50%, 0%);
	-webkit-transform:  translate(-50%, 0%);
	z-index: 2;
}

#scenery_intro .hill_left {
	position: absolute;
	width: 80%;
	bottom: -14%;
	left: -10%;
	z-index: 3;
}

#scenery_intro .hill_right {
	position: absolute;
	width: 100%;
	bottom: -14%;
	right: -15%;
	z-index: 4;
}

#scenery_intro .star {
	position: absolute;
	opacity: 0.8;
	animation-name: twinkle;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
}

@keyframes twinkle {
	0% {
		opacity: 0.9;
	}
	50% {
		opacity: 0.4;
	}
	100% {
		opacity: 0.9;
	}
}

.text_align_center {
	text-align: center;
}

.front_contact_link{
	color:white;
	font-weight: bold;
	font-size: 1.3em;
}
.front_contact_link:hover{
	color:white;
}


#scenery_intro .cloud {
	position: absolute;
	opacity: 0.6;
}
#scenery_intro .cloud_1 {
	width: 200px;
	top: 15%;
	left: 65%;
}

#scenery_intro .cloud_2 {
	width: 150px;
	top: 30%;
	left: 20%;
}

/* END SVG Images */

/* Titles */

.logo{
	margin-bottom: 10px;
	margin-top: 10px;
	width: 280px;
}

#header-title{
	margin-top: 20px;
	text-align: center;
	color: #fff;
	position: absolute;
	top: 44%;
	left: 50%;
	transform: translate(-50%, -60%);
	-webkit-transform: translate(-50%, -60%);
	z-index: 100;
	width: 100%;
	font-size: 120%;
}

#header-title .btn_row{
	margin-top: 30px;
	margin-bottom: 5px;
}

#header-title .main_btn{
	margin-bottom: 10px;
	font-size:1em;
	display: inline-block;
	margin-left: 2px;
	margin-right: 2px;
}
.talk_to_us{
	margin-top: 25px;
}

h1.main_title{
	font-weight: 700;
	font-size: 4.3em;
	color: #fff;
	margin-bottom: 10px;
	margin-top: 5px;
}

h2.sub_title{
	font-weight: 400;
	font-size: 2.1em;
	letter-spacing: 0.5px;
	color: white;
	margin-bottom: 15px;
	margin-top: 15px;
}

.sub-title{
	color: #464646;
	font-weight: 400;
	letter-spacing: 0.5px;
}
.alt_sub_title{
	color: white;
	width: 100%;
	font-weight: 400;
	letter-spacing: 0.5px;
	line-height: 42px;
	display: none;
}

/* START Buttons */


.btn_main {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	border-radius: 3px;
	width: 205px;
	height: 45px;
	color: #FFF;
}

.btn:hover,
.btn:active,
.btn:visited,
.btn:focus {
	color: #fff;
}

.orange_btn {
	background-color: #F4A531;
	box-shadow: 0px 5px 0px #c17b1e;
}

.btn_main.orange_btn:hover {
	box-shadow: 0px 3px 0px #c17b1e;
	transform: translate(0px, 2px);
	webkit-transform:  translate(0px, 2px);
}

.btn_main.orange_btn:active {
	box-shadow: 0px 0px 0px;
	transform: translate(0px, 5px);
	webkit-transform:  translate(0px, 5px);
}
a.btn_main {
	padding-top: 8px;
}

.yellow_btn {
	background-color: #EFBF37;
	box-shadow: 0px 5px 0px #B7943D;
}

.btn_main.yellow_btn:hover {
	box-shadow: 0px 3px 0px #B7943D;
	transform: translate(0px, 2px);
	webkit-transform:  translate(0px, 2px);
}

.btn_main.yellow_btn:active {
	box-shadow: 0px 0px 0px;
	transform: translate(0px, 5px);
	webkit-transform:  translate(0px, 5px);
}

/* END Buttons */

/* START Content Titles */

.header_wrapper {
	text-align: center;
}

.header_title {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	color:#476d99;
	padding: 7px 21px 7px 21px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
	border: 3px solid #476d99;
}

h2.header_title {
	font-size: 22px;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0,0,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
/* SPONSORS */

.sponsor-row-wrapper {
		justify-content: center;
		padding: 1em 2em;
		position: relative;
}

.sponsor-giga-row-wrapper-wide {
		max-width: 1000px;
		font-size: 0.8em;
		margin: 0 auto;
		margin-bottom: 20px;
		width: 100%;
}

.sponsor-mega-row-wrapper-wide {
		max-width: 1000px;
		font-size: 0.8em;
		margin: 0 auto;
		margin-bottom: 20px;
		width: 100%;
}

.sponsor-startup-row-wrapper-wide {
		max-width: 900px;
		font-size: 0.8em;
		margin: 0 auto;
		width: 100%;
}

.sponsor-community-row-wrapper-wide {
	max-width: 900px;
	font-size: 0.8em;
	margin: 0 auto;
	width: 100%;
}

.sponsorship-logo img {
		width: 100%;
		height: 100%
}

.sponsor-logos-giga .sponsorship-logo {
		width: 100%;
		margin: auto
}

.sponsor-logos-giga .sponsorship-logo--sunlife {
		width: 450px
}

.sponsor-logos-mega {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
}

.sponsor-logos-mega .sponsorship-logo {
		width: 100px;
		margin: 0px;
}

.sponsor-logos-mega .sponsorship-logo--rbc {
		width: 120px
}

.sponsor-logos-mega .sponsorship-logo--td {
		width: 140px
}

.sponsor-logos-mega .sponsorship-logo--ibm {
		width: 200px
}

.sponsor-logos-mega .sponsorship-logo--scotiabank {
		width: 300px
}

.sponsor-logos-mega .sponsorship-logo--ratehub {
		width: 270px
}

.sponsor-logos-mega .sponsorship-logo--microsoft {
		width: 240px
}

.sponsor-logos-startup {
		justify-content: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center, baseline;
}

.sponsor-logos-startup .sponsorship-logo {
		width: 110px;
		margin: 20px;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center, baseline;
}

.sponsor-logos-startup .sponsorship-logo--1password {
		width: 160px
}

.sponsor-logos-startup .sponsorship-logo--sketch {
		width: 160px;
}

.sponsor-logos-startup .sponsorship-logo--indico {
		width: 120px
}

.sponsor-logos-startup .sponsorship-logo--communitech {
		width: 170px
}

.sponsor-logos-startup .sponsorship-logo--stickermule {
		width: 120px
}

.sponsor-logos-startup .sponsorship-logo--gocubes {
		width: 180px
}

.sponsor-logos-startup .sponsorship-logo--studentxel {
		width: 160px
}

.sponsor-logos-startup .sponsorship-logo--techdomains {
		width: 110px
}

.sponsor-logos-startup .sponsorship-logo--loopio {
		width: 120px
}

.sponsor-logos-community {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center, baseline;
}

.sponsor-logos-community .sponsorship-logo--ams {
		width: 220px
}
