body{
	background-color: white;
}
.countdown-row{
	padding-top: 18%;
}
.countdown-time{
	font-size: 42px;
	font-family: 'Lato', sans-serif;
}
.countdown-remaining-text{
	font-size: 14px;
	font-family: 'Lato', sans-serif;
}