html, body{
  height:100%;
}
.hidden{
	display: none;
}


.talk_to_us{
	font-family: 'Lato', sans-serif;
	font-size: 115%;
}
.text_align_center{
	text-align: center;
}


/*===== first section =====*/
#first_section{
	background: #49B7C9;
	height: 100%;
	min-height: 600px;
	position: relative;
    overflow:hidden;
}
#first_section .email_link,#first_section .email_link:visited{
	color:#eee;
}
#first_section .email_link:hover{
	color:white;
}

#logo_and_title{
	margin-top: 20px; 
	font-family: 'Lato', sans-serif;
	text-align: center;
	color:white;
	position: absolute;
	top: 44%;
	left: 50%;
	transform: translate(-50%, -60%);
	z-index: 100;
    text-shadow: 1px 1px 2px #666;

}

#logo_and_title .btn_row{
	margin-top: 24px;
}

#logo_and_title .btn_row .btn_custom{
	font-family: 'Lato', sans-serif;
	font-size: 160%;
}
#logo_and_title .narrow_total{
	display: none;
	width: 100%;
	text-align: center;
}
#first_section .circle_gradient{
	width:70%;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -60%);
}

#logo_and_title h1{
	font-weight: bold;
	font-size: 4.2em;
	margin-bottom: 10px;
	margin-top: 5px;
}
#logo_and_title h2{
	margin-top: 2px;
}
#logo_and_title h3{
	margin-top: 0px;
}

#logo_and_title .logo{
	width:200px;
	margin-bottom: 0px;
}


#first_section .clock_tower{
	width: 11%;
	margin-left: 60px;
	margin-top: 40px;
	z-index: 20!important;
	position: absolute;
}

#first_section .buildings{
	position: absolute;
	bottom: 7%;
	left: 50%;
	transform: translate(-50%, 0%);
	width:40%;
}


#first_section .hill_left{
	position: absolute;
	bottom: -210px;
	left: -60px;
	width:80%;
	z-index: 60;
}
#first_section .hill_right{
	position: absolute;
	bottom: -380px;
	right: -180px;
	width:130%;
	z-index: 70;
}

#first_section .cloud{
	position: absolute;
	opacity: 0.6;
}
#first_section .cloud_1{
	width:200px;
	top:22%;
	left:80%;
}

#first_section .cloud_2{
	width:150px;
	top:30%;
	left:20%;
}
#first_section .cloud_3{
	width:300px;
	top:3%;
	left:10%;
}
#first_section .cloud_4{
	width:240px;
	top:12%;
	left:60%;
}

#first_section .green_bar{
	background: #497C5E;
	height: 40px;
	z-index: 90;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
#first_section .layer{
	width: 100%;
	height: 100%;
}
.scene_container{
	position: absolute;
	top:0px;
	left: 0px;
	width: 100%;
	height: 100%;
}


/*#parallax_scene1 {
	z-index: 50
}*/
#parallax_scene2 {
	z-index: 51
}

/*===== other sections =====*/
.header_wrapper{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}
.header_title {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	color:#47A97C;
	padding: 10px 20px 10px 20px;
	display: inline-block;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	border: 3px solid #47A97C;
}

.text{
	font-family: 'Lato', sans-serif;
}

.about_section{
	margin-bottom: 20px;
}
.sponsor_section{
	margin-top: 35px;
}

.footer{
	background: #47A97C;

}

#footer_container{
	color:white;
	font-family: 'Lato', sans-serif;
	text-align: center;
}
#footer_container .icon_bar{
	margin-bottom: 8px;
}
#footer_container .icon_bar a{
	color: #eee;
	font-size: 2.8em;
	margin-right: 4px;
	margin-left: 4px;
}
#footer_container .icon_bar a:hover{
	color:white!important;
}
#footer_container .icon_bar a:visited,#footer_container .icon_bar a:active{
	color:  #eee;
}

#footer_container .email_link,#footer_container .email_link:visited{
	color:#eee;
}
#footer_container .email_link:hover{
	color:white;
}

.sponsorimage_contianer{
	text-align: center;
	margin-top: 5px;
}

.faq_container{
	margin-top: 20px;
}

/*  media queries  */

@media only screen and (max-width : 1290px) { 
	#first_section .clock_tower{
		bottom:20%;
	}
	#first_section .buildings{
		bottom:0;
	}
}

@media only screen and (max-width : 1175px) { 
	#first_section .clock_tower{
		bottom:10%;
	}
	#first_section .buildings{
		bottom:0;
	}
	#first_section .hill_right{
		bottom: -350px;
	}
	#logo_and_title button{
		margin-top: 5px;
	}
}

@media only screen and (max-width : 960px) { 
	#first_section .clock_tower{
		bottom:0%;
	}
	#first_section .buildings{
		display: none!important;
	}
	#first_section .hill_right{
		bottom: -300px;
	}
}

@media only screen and (max-width : 850px) { 
	#logo_and_title .wide_total{
		display: none;
	}
	#logo_and_title .narrow_total{
		display: block;
	}
	#first_section .hill_left{
		bottom: -180px;
	}
	#first_section .hill_right{
		bottom: -260px;
	}
}

@media only screen and (max-width : 700px) { 
	#first_section .clock_tower{
		display: none!important;
	}
	#first_section .hill_left{
		bottom: -70px;
	}
	#first_section .hill_right{
		bottom: -140px;
		right: -80px;
	}
	#logo_and_title{
		width: 90%!important;
	}
}

@media (max-height: 700px) { 

	#logo_and_title{
		margin-top: 10px; 
		top: 0%!important;
		transform: translate(-50%, 0%)!important;
	}
}
