html, body{
  height:100%;
}

/*===== first section =====*/
#first_section{
	background: #49B7C9;
	height: 100%;
	position: relative;
    overflow:hidden;
}


#logo_and_title{
	margin-top: 20px; 
	font-family: 'Lato', sans-serif;
	text-align: center;
	color:white;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -60%);
	z-index: 100;
}

#logo_and_title .btn_row{
	margin-top: 24px;
}

#logo_and_title .btn_row .btn_custom{
	font-family: 'Lato', sans-serif;
	font-size: 140%;
}

#first_section .circle_gradient{
	width:70%;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -60%);
}

#logo_and_title h1{
	font-weight: bold;
	font-size: 4.2em;
	margin-bottom: 10px;
	margin-top: 5px;
}
#logo_and_title h2{
	margin-top: 0px;
}

#logo_and_title .logo{
	width:200px;
	margin-bottom: 0px;
}


#first_section .clock_tower{
	width: 11%;
	margin-left: 60px;
	margin-top: 40px;
	z-index: 60;
	position: absolute;
}

#first_section .buildings{
	position: absolute;
	bottom: 7%;
	left: 50%;
	transform: translate(-50%, 0%);
	width:40%;
}


#first_section .hill_left{
	position: absolute;
	bottom: -210px;
	left: -60px;
	width:80%;
	z-index: 60;
}
#first_section .hill_right{
	position: absolute;
	bottom: -380px;
	right: -180px;
	width:130%;
	z-index: 70;
}

#first_section .cloud_1{
	width:200px;
	position: absolute;
	top:22%;
	left:80%;
}

#first_section .cloud_2{
	width:150px;
	position: absolute;
	top:30%;
	left:20%;
}
#first_section .cloud_3{
	width:300px;
	position: absolute;
	top:3%;
	left:10%;
}
#first_section .cloud_4{
	width:240px;
	position: absolute;
	top:12%;
	left:60%;
}

#first_section .green_bar{
	background: #497C5E;
	height: 40px;
	z-index: 90;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

/*===== other sections =====*/
.header_wrapper{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}
.header_title {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	color:#47A97C;
	padding: 10px 20px 10px 20px;
	display: inline-block;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	border: 3px solid #47A97C;
}

.text{
	font-family: 'Lato', sans-serif;
}

.about_section{
	margin-bottom: 20px;
}


.footer{
	background: #47A97C;

}



