h1, h2, h3, p{
	margin-top: 0px;
	margin-bottom: 0px;
}
h1{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 24px;
}
h2{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
}
body{
	padding-bottom: 50px;
}