html, body {
	height: 100%;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	font-weight: 300;
	color: #444;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.text_align_center {
	text-align: center;
}

.front_contact_link{
	color:white;
	font-weight: bold;
	font-size: 1.3em;
}
.front_contact_link:hover{
	color:white;
}

/* Header Background Graphic */
#header_landing{
	height: 100%;
	min-height: 600px;
	background-image: url("../img/Cover16х9.svg");
	/*background-attachment: fixed;*/
	background-size: cover;
	background-position: center;
}
/*CUSTOM SCREEN SIZES (PX)*/
/*MOBILE*/
@media only screen and (min-width: 300px) and (max-width: 420px){
	#header_landing{
		/*background-color: brown;*/
		background-size:cover;
		background-position: 10% 50%;
		background-image: url("../img/Cover9х16.svg");
	}
}
/*SQUARE SCREEN*/
@media only screen and (min-width: 700px) and (max-width: 950px){
	#header_landing{
		/*background-color: beige;*/
		background-image: url("../img/Cover4х3.svg");
		background-size:cover;
		background-position: center;
	}
}
/*LAPTOPS*/
@media only screen and (min-width: 1250px){
	#header_landing{
		/*background-color: yellow;*/
		background-image: url("../img/Cover4х3.svg");
		background-size:cover;
	}
}
/* iPads specific ----------- */
@media only screen and (device-width : 768px) and (device-height : 1024px){
	#header_landing{
		background-size:cover;
		background-image: url("../img/Cover9х16.svg");
	}
}
/*WIDESCREEN*/
@media only screen and (min-width: 1350px) and (max-width: 1900px){
	#header_landing{
		/*background-color: orange;*/
		background-image: url("../img/Cover21х9.svg");
		background-size:cover;
	}
}
@media only screen and (min-width: 1900px){
	#header_landing{
		background-image: url("../img/Cover21х9.svg");
		background-size:cover;
		background-position: center;
	}
}

/*ASPECT RATIO FALLBACKS*/
/*MOBILE*/
@media only screen and (min-aspect-ratio: 9/16){
	#header_landing{
		/*background-color: blue;*/
		background-size:cover;
		background-image: url("../img/Cover9х16.svg");
	}
}
/*SQUAREISH SCREENS*/
@media only screen and (min-aspect-ratio: 4/3){
	#header_landing{
		/*background-color: green;*/
		background-image: url("../img/Cover4х3.svg");
	}
}
/*ULTRA-WIDE*/
@media only screen and (min-aspect-ratio: 21/9){
	#header_landing{
		/*background-color: red;*/
		background-image: url("../img/Cover21х9.svg");
		background-size: cover;
		background-position: center;
	}
}

/* End Header Background Graphic */


/* Titles */
.logo{
	position: relative;
	top:70px;
	height: 100%;
	width: 100%;
	max-height: 350px;
	max-width: 350px;
}

#header-title{
	margin-top: 20px;
	text-align: center;
	color: #fff;
	position: absolute;
	top: 44%;
	left: 50%;
	transform: translate(-50%, -60%);
	-webkit-transform: translate(-50%, -60%);
	z-index: 100;
	width: 100%;
	font-size: 120%;
}

#header-title .btn_row{
	margin-top: 30px;
	margin-bottom: 5px;
}

#header-title .main_btn{
	margin-bottom: 10px;
	font-size:1em;
	display: inline-block;
	margin-left: 2px;
	margin-right: 2px;
}
.talk_to_us{
	color: #001e51;
	margin-top: 15px;
}
.talk_to_us a{
	color: #001e51;
}
.talk_to_us a{
	color: #001e51;
}
.talk_to_us a:hover{
	color:#c61633;
}

h1.main_title{
	font-weight: 700;
	font-size: 4.3em;
	color: #fff;
	margin-bottom: 10px;
	margin-top: 5px;
}

h2.sub_title{
	font-weight: 400;
	font-size: 2.1em;
	letter-spacing: 0.5px;
	color: #001e51;
	margin-bottom: 15px;
	margin-top: 30px;
}

.sub_title_date{
	font-size: .75em;
}

.sub-title{
	color: #464646;
	font-weight: 400;
	letter-spacing: 0.5px;
}
.alt_sub_title{
	color: white;
	width: 100%;
	font-weight: 400;
	letter-spacing: 0.5px;
	line-height: 42px;
	display: none;
}

/* START Buttons */
.btn_main {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	border-radius: 3px;
	width: 205px;
	height: 45px;
	color: #FFF;
}

.btn:hover,
.btn:active,
.btn:visited,
.btn:focus {
	color: #fff;
}

.orange_btn {
	background-color: #F4A531;
	box-shadow: 0px 5px 0px #c17b1e;
}

.btn_main.orange_btn:hover {
	box-shadow: 0px 3px 0px #c17b1e;
	transform: translate(0px, 2px);
	webkit-transform:  translate(0px, 2px);
}

.btn_main.orange_btn:active {
	box-shadow: 0px 0px 0px;
	transform: translate(0px, 5px);
	webkit-transform:  translate(0px, 5px);
}
a.btn_main {
	padding-top: 8px;
}

.yellow_btn {
	background-color: #EFBF37;
	box-shadow: 0px 5px 0px #B7943D;
}

.btn_main.yellow_btn:hover {
	box-shadow: 0px 3px 0px #B7943D;
	transform: translate(0px, 2px);
	webkit-transform:  translate(0px, 2px);
}

.btn_main.yellow_btn:active {
	box-shadow: 0px 0px 0px;
	transform: translate(0px, 5px);
	webkit-transform:  translate(0px, 5px);
}

/* END Buttons */

/* START Content Titles */

.header_wrapper {
	text-align: center;
}

.header_title {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	color:#476d99;
	padding: 7px 21px 7px 21px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
	border: 3px solid #476d99;
}

h2.header_title {
	font-size: 22px;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0,0,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
/* SPONSORS */
.sponsors-wrap{
	overflow: hidden;
}
.sponsor-row-wrapper {
		justify-content: center;
		padding: 1em 2em;
		position: relative;
}

.sponsor-giga-row-wrapper-wide {
		max-width: 1000px;
		font-size: 0.8em;
		margin: 0 auto;
		margin-bottom: 20px;
		width: 100%;
}

.sponsor-mega-row-wrapper-wide {
		max-width: 1000px;
		font-size: 0.8em;
		margin: 0 auto;
		margin-bottom: 60px;
		width: 100%;

}

.sponsor-startup-row-wrapper-wide {
		max-width: 900px;
		font-size: 0.8em;
		margin: 0 auto;
		width: 100%;
}

.sponsor-community-row-wrapper-wide {
	max-width: 900px;
	font-size: 0.8em;
	margin: 0 auto;
	margin-bottom: 20px;
	width: 100%;
}

.sponsorship-logo img {
		width: 100%;
		height: 100%
}

.sponsor-logos-tera .sponsorship-logo {
		width: 100%;
		margin: auto
}

.sponsorship-logo--stdlib {
		max-width: 500px
}

.sponsor-logos-giga .sponsorship-logo {
		width: 100%;
		margin: auto
}

.sponsor-logos-giga .sponsorship-logo--sunlife {
		width: 420px
}

.sponsor-logos-mega {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
}

.sponsor-logos-mega .sponsorship-logo {
		width: 100px;
		margin: 0px;
}

.sponsor-logos-mega .sponsorship-logo--rbc {
		width: 110px
}
#rbc_logo{
	margin-left: 30px;
}

.sponsor-logos-mega .sponsorship-logo--td {
		width: 120px
}

.sponsor-logos-mega .sponsorship-logo--ibm {
		width: 180px
}

.sponsor-logos-mega .sponsorship-logo--scotiabank {
		width: 300px
}

.sponsor-logos-mega .sponsorship-logo--ratehub {
		width: 270px
}

.sponsor-logos-mega .sponsorship-logo--microsoft {
		width: 240px
}

.sponsor-logos-mega .sponsorship-logo--telus {
		width: 260px;
		margin-top: 20px;
}


.sponsor-logos-startup {
		justify-content: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center, baseline;
}

.sponsor-logos-startup .sponsorship-logo {
		width: 110px;
		margin: 20px;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center, baseline;
}

.sponsor-logos-startup .sponsorship-logo--1password {
		width: 160px
}

.sponsor-logos-startup .sponsorship-logo--sketch {
		width: 160px;
}

.sponsor-logos-startup .sponsorship-logo--indico {
		width: 120px
}

.sponsor-logos-startup .sponsorship-logo--communitech {
		width: 170px
}

.sponsor-logos-startup .sponsorship-logo--stickermule {
		width: 120px
}

.sponsor-logos-startup .sponsorship-logo--gocubes {
		width: 180px
}

.sponsor-logos-startup .sponsorship-logo--studentxel {
		width: 160px
}

.sponsor-logos-startup .sponsorship-logo--techdomains {
		width: 110px
}

.sponsor-logos-startup .sponsorship-logo--loopio {
		width: 120px
}

.sponsor-logos-startup .sponsorship-logo--wakeups {
		width: 110px;
}

.sponsor-logos-startup .sponsorship-logo--mosaic {
		width: 140px
}

.sponsor-logos-startup .sponsorship-logo--digitalocean {
		width: 100px
}

.sponsor-logos-startup .sponsorship-logo--movember {
		width: 75px;
}

.sponsor-logos-startup .sponsorship-logo--nextcanada {
		width: 140px;
}

.sponsor-logos-startup .sponsorship-logo--wolfram {
		width: 160px;
}

.sponsor-logos-startup .sponsorship-logo--ritual {
		width: 140px;
}

.sponsor-logos-startup .sponsorship-logo--balsamiq {
		width: 140px;
}




.sponsor-logos-community {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center, baseline;
}

.sponsor-logos-community .sponsorship-logo--ams {
		width: 200px
}

.sponsor-logos-community .sponsorship-logo--qic {
		width: 370px
}

.sponsor-logos-community .sponsorship-logo--mmie {
		width: 340px
}

.sponsor-logos-community .sponsorship-logo--bloomberg {
		width: 220px;
}

.sponsor-logos-community .sponsorship-logo--github {
		width: 140px;
}

.sponsor-logos-community .sponsorship-logo--mlh {
		width: 150px;
}


/* Media Queuries For Responsive Landing Page */
@media only screen and (max-width: 950px) {

	.logo{
		position: relative;
		top:70px;
		height: 100%;
		width: 100%;
		max-height: 250px;
		max-width: 250px;
	}
	h2.sub_title{
		font-weight: 400;
		font-size: 1.5em;
		letter-spacing: 0.5px;
		margin-bottom: 15px;
		margin-top: 35px;
	}

	.sub-title{
		color: #464646;
		font-weight: 400;
		letter-spacing: 0.5px;
	}

}

@media only screen and (max-width: 400px) {

	.logo{
		position: relative;
		top:70px;
		height: 100%;
		width: 100%;
		max-height: 200px;
		max-width: 200px;
	}
	h2.sub_title{
		font-weight: 400;
		font-size: 1.4em;
		letter-spacing: 0.5px;
		margin-bottom: 10px;
		margin-top: 50px;
	}

	.sub-title{
		color: #464646;
		font-weight: 400;
		letter-spacing: 0.5px;
	}
	#header-title .btn_row{
		margin-top: 18px;
		margin-bottom: 0px;
	}
	.talk_to_us{
		margin-top: 15px;
	}

}


/* Media Queuries For Responsive Logo Stacking */
@media only screen and (max-width: 875px) {
	#rbc_logo{
		margin-left: 0px;
	}
	.sponsor-row-wrapper {
			justify-content: center;
			padding: 1em 2em;
			position: relative;
	}

	.sponsor-giga-row-wrapper-wide {
			max-width: 1000px;
			font-size: 0.8em;
			margin: 0 auto;
			margin-bottom: 20px;
			width: 100%;
	}

	.sponsor-mega-row-wrapper-wide {
			margin-bottom: 70px;
			margin-top: -90px;
	}

	.sponsor-startup-row-wrapper-wide {
			max-width: 900px;
			font-size: 0.8em;
			margin: 0 auto;
			width: 100%;
	}

	.sponsor-community-row-wrapper-wide {
		max-width: 900px;
		font-size: 0.8em;
		margin: 0 auto;
		margin-bottom: 20px;
		width: 100%;
	}

	.sponsorship-logo img {
			width: 100%;
			height: 100%
	}

	.sponsor-logos-giga .sponsorship-logo {
			width: 100%;
			margin: auto
	}

	.sponsor-logos-giga .sponsorship-logo--sunlife {
			max-width: 400px
	}

	.sponsor-logos-mega {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: center;
	}

	.sponsor-logos-mega .sponsorship-logo {
			width: 100px;
			margin: 0px;
			margin-right: 20px;
			margin-left: 20px;
			margin-top: 40px;
	}

	.sponsor-logos-mega .sponsorship-logo--rbc {
			width: 110px;
			margin-right: 60px;
			margin-left: 60px;
	}

	.sponsor-logos-mega .sponsorship-logo--td {
			width: 120px;
			margin-right: 60px;
			margin-left: 60px;

	}

	.sponsor-logos-mega .sponsorship-logo--ibm {
			width: 180px;
			margin-right: 60px;
			margin-left: 60px;
	}

	.sponsor-logos-mega .sponsorship-logo--scotiabank {
			width: 300px
	}

	.sponsor-logos-mega .sponsorship-logo--ratehub {
			width: 270px
	}

	.sponsor-logos-mega .sponsorship-logo--microsoft {
			width: 240px
	}

	.sponsor-logos-mega .sponsorship-logo--telus {
			width: 260px;
			margin-top: 60px;
	}

	.sponsor-logos-startup {
			justify-content: center;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: center, baseline;
	}

	.sponsor-logos-startup .sponsorship-logo {
			width: 110px;
			margin: 20px;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: center, baseline;
	}

	.sponsor-logos-startup .sponsorship-logo--1password {
			width: 160px
	}

	.sponsor-logos-startup .sponsorship-logo--sketch {
			width: 160px;
	}

	.sponsor-logos-startup .sponsorship-logo--indico {
			width: 120px
	}

	.sponsor-logos-startup .sponsorship-logo--communitech {
			width: 170px
	}

	.sponsor-logos-startup .sponsorship-logo--stickermule {
			width: 120px
	}

	.sponsor-logos-startup .sponsorship-logo--gocubes {
			width: 180px
	}

	.sponsor-logos-startup .sponsorship-logo--studentxel {
			width: 160px
	}

	.sponsor-logos-startup .sponsorship-logo--techdomains {
			width: 110px
	}

	.sponsor-logos-startup .sponsorship-logo--loopio {
			width: 120px
	}

	.sponsor-logos-startup .sponsorship-logo--wakeups {
			width: 110px;
	}

	.sponsor-logos-startup .sponsorship-logo--mosaic {
			width: 140px
	}

	.sponsor-logos-startup .sponsorship-logo--digitalocean {
			width: 100px
	}

	.sponsor-logos-startup .sponsorship-logo--movember {
			width: 75px;
	}

	.sponsor-logos-startup .sponsorship-logo--nextcanada {
			width: 140px;
	}

	.sponsor-logos-startup .sponsorship-logo--wolfram {
			width: 160px;
	}

	.sponsor-logos-startup .sponsorship-logo--ritual {
			width: 140px;
	}



	.sponsor-logos-community {
		justify-content: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center, baseline;
	}

	.sponsor-logos-community .sponsorship-logo--ams {
			width: 200px
	}

	.sponsor-logos-community .sponsorship-logo--qic {
			width: 370px
	}

	.sponsor-logos-community .sponsorship-logo--mmie {
			width: 340px
	}

	.sponsor-logos-community .sponsorship-logo--bloomberg {
			width: 220px;
	}

	.sponsor-logos-community .sponsorship-logo--github {
			width: 140px;
	}

	.sponsor-logos-community .sponsorship-logo--mlh {
			width: 150px;
	}
}

@media(max-width: 460px){
	.sponsor-logos-community .sponsorship-logo--github {
		margin-bottom: 50px;
	}
	.sponsor-logos-community .sponsorship-logo--mmie {
		margin-bottom: 50px;		
	}

}